<?php
    interface Calculation
    {
        public function CalcPerimetr();
        public function CalcArea();
    }
    abstract class Figure implements Calculation
    {
        protected $per;
        protected $area;
        abstract protected function ShowResult();
        public function __construct($p=0,$a=0) {
            $this->a = $a;
            $this->p = $p;
        }
    }
    class Circle extends Figure 
    {
        private $diametr;
        public function ShowResult() 
        {
            $this->CalcPerimetr();
            $this->CalcArea();            
            echo 'виводить результати';
        }
        public function CalcArea() 
        {
            echo 'рахуємо плoщу';
        }
        public function CalcPerimetr() 
        {
            echo 'рахуємо периметр';
        }
        public function __construct($diametr) 
        {
            parent::__construct();
            $this->diametr = $diametr;
        }
    }
    class Triangle extends Figure
    {
        private $a;
        private $b;
        private $c;
        public function CalcPerimetr() 
        {
            $this->per = $this->a + $this->b + $this->c;
        }
        public function CalcArea() 
        {
            $this->area = sqrt($this->per*($this->per - $this->a)*($this->per - $this->b)*($this->per - $this->c));
        }
        public function ShowResult() 
        {            
            $this->CalcPerimetr();
            $this->CalcArea();
            echo 'Трикутник зі сторонами а = '.$this->a.',b = '.$this->b.',c = '.$this->c.'<br>';
            echo 'Має периметр Р = '.$this->per.' та площу S = '.$this->area.'<br>';
        }
        public function __construct($a,$b,$c) 
        {
            //parent::__construct();
            $this->a = $a;
            $this->b = $b;
            $this->c = $c;
        }
    }
    $c = new Triangle(2, 4, 4);
    $c->ShowResult();
    
?>
